<div class="home-page">
  <section class="container">
    <mat-card>
      <h1>Overview</h1>
      <p>Angular provides a powerful built in router to emulate traditional web page navigation and display new components when accessing various URLs within the application.  However, there are times that the default functionality can get in the way or cause unexpected results in the application.  There are various ways to work around some of this functionality, but wouldn’t it be great if we could have some control over the router to make some simple decisions that can greatly improve the functionality of our application without overhead?  Let’s look at the RouteReuseStrategy class and find out!</p>
    </mat-card>
    <mat-card>
      <highlight-card [code]="code"></highlight-card>
    </mat-card>
  </section>
</div>