.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1.app-name {
    margin-left: 8px;
}

.app-header-toolbar {
  // background-color: #29132e;
  background-color: #141414;

  // color: #FFF;
}

.app-sidenav-container {
  flex: 1;
  .app-sidenav {
    // background-color: #212121;
    mat-nav-list > a {
      // color: #FFF;
    }
  }

  .app-content {
    // background-color: #f887ff;
  }
}


mat-sidenav {
  width: 200px;
}

