<div class="app-container">
  <mat-toolbar color="primary" class="app-header-toolbar">
    <!-- <button mat-icon-button ><mat-icon>menu</mat-icon></button> -->
    <h1 class="app-name">Route Reuse Strategy</h1>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav [mode]="'side'" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="home">Home</a>
        <a mat-list-item routerLink="parent-child-design">Parent-Child Design</a>
        <a mat-list-item routerLink="search-detail">Search Detail</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>