:host {
  display: block;
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 10px;
  .nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    .nav-item {
      background-color: #000;
      color: #FFF;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}