/* You can add global styles to this file, and also import other style files */
// @use '@angular/material' as mat;

// @include mat.core();

// $my-primary: mat.define-palette(mat.$pink-palette, 500);
// $my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// $my-theme: mat.define-light-theme((
//  color: (
//    primary: $my-primary,
//    accent: $my-accent,
//  )
// ));

// // Emit theme-dependent styles for common features used across multiple components.
// @include mat.core-theme($my-theme);

// // Emit styles for MatButton based on `$my-theme`. Because the configuration
// // passed to `define-light-theme` omits typography, `button-theme` will not
// // emit any typography styles.
// @include mat.all-component-themes($my-theme);

// Include the theme mixins for other components you use here.
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page {
  margin: 20px 0;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 0 20px;
    mat-card {
      max-width: 800px;
    }
  }
}

.next-section-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font: 200 34px/40px Roboto, "Helvetica Neue", sans-serif;
  cursor: pointer;

  &:hover {
    box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
  }
}

.solution-loading-toggles-group {
  margin-bottom: 10px;
}

.green {
  color: #17fc95;
}

.red {
  color: red;
}